#secondPage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#heading p {
    font-weight: 500;
    font-size: 5rem;
    border-top: 5px solid #ff00ff;
    border-radius: 1%;
}
#mem-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.each-mem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    gap: 3%;
}
.mem-avatar {
    width: 100%;
    height: 15rem;
    background-color: #ff00ff;
    clip-path: polygon(
    25% 0%, 75% 0%,
    100% 50%, 75% 100%,
    25% 100%, 0% 50%
  );
}
.mem-name {
    display: flex;
    flex-wrap: wrap;
    color: #ff00ff;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 200;
}
.mem-id {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 300;
}
.mem-name p, .mem-id p {
    margin: 0;
}