html,
body {
  background-color: #111111;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  color: whitesmoke;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
