#newHome {
  margin-top: 5%;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
#tryONcont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  margin-bottom: 5%;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
}
#four {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.row {
  margin-bottom: 2%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
#btn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 3% 0;
  padding: 0;
}
#btn2 {
  margin: 0;
  padding: 0;
  padding: 1%;
  height: 3rem;
  background-color: black;
  color: white;
  margin-bottom: 5%;
}
#btn2:hover {
  background-color: white;
  color: black;
}
#colorAndClothesCont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 3%;
}
.colorAndClothes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  align-items: center;
  margin: 0%;
  padding: 0%;
  height: 10rem;
}
.eachColor {
  margin: 0%;
  padding: 1%;
  color: whitesmoke;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.eachColor:hover {
  color: black;
  background-color: whitesmoke;
}
#red,
#blue,
#green {
  height: 3rem;
  width: 3rem;
  border-radius: 5px;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
.upload-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 10px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-input {
  display: none;
}

.upload-label {
  font-size: 2rem;
  cursor: pointer;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#avatar {
  width: 30rem;
  height: 30rem;
  border: 3px solid whitesmoke;
  border-radius: 20px;
  margin-top: 2%;
}
.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}
.subHeadings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.subHeadings p {
  margin: 0%;
}